body {
    background-color: #3f7d3a;
}

form#search-form {
    background-color: #fff;
    padding: 0px 0px 0px 30px;
    width: 100%;
    border-radius: 7px;
    display: inline-block;
    text-align: center;
}

form#search-form select,
form#search-form input {
    width: 100%;
    height: 36px;
    background-color: transparent;
    border: none;
    color: #2a2a2a;
    font-size: 15px;
    outline: none;
}

.form-select:focus {
    box-shadow: none;
}

form#search-form input.searchText {
    border-left: 1px solid #8d99af;
    /* border-right: 1px solid #8d99af; */
    padding: 0px 30px;
}

form#search-form input::placeholder {
    color: #2a2a2a;
    font-size: 15px;
}

form#search-form button {
    width: 100%;
    height: 100%;
    background-color: #8d99af;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

form#search-form button i {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: #8d99af;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    margin-right: 10px;
}

.donation-area {
    padding: 290px 0px 180px 0px;
    background-color: #3f7d3a;
}

.donation-area .top-text {
    text-align: center;
}

.donation-area .top-text h6 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.donation-area .top-text h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 45px;
}

.page-heading .top-text {
    text-align: left;
}

.page-heading .top-text h6 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.page-heading .top-text h2 {
    color: #fff;
    line-height: 70px;
    font-size: 45px;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 15px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    background-color: #3f7d3a;
    margin-top: 150px;
}

.login-box {
    padding: 20px;
    border-radius: 10px;
    background-color: #a7a7a7;
}

.navbar {
    background-color: #3f7d3a !important;

}

.card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h4 a {
    text-decoration: none;
}

.card p {
    font-size: 18px;
}

.card span {
    font-size: 15px;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 35px;
}

.navv {
    z-index: 1;
}

.dashboard {
    padding: 1px 16px;
    min-height: 800px;
    background-color: #fff;
}

.sidebar li a {
    color: #fff;
}

.icon {
    font-size: 20px;
}

.icon i {
    cursor: pointer;
}

.responsive {
    padding-left: 10px;
    position: absolute;
    width: 200px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #000;
    z-index: 11;
    transition: all 0.3s;
}

.mobile-sidebar a {
    padding-left: 15px;
}

.left {
    left: -200px;
}

.menu-icon {
    position: absolute;
    width: 40px;
    height: 100%;
    padding: 10px;
    background: #000;
    padding-right: 30px;
}

.menu-icon i {
    cursor: pointer;
}

.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0 0;
}

.responsive ul li {
    margin-bottom: 10px;
}

.responsive li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
}

.responsive ul li a:hover {
    color: #0a58ca;
}

.sidebar-active {
    color: #0a58ca;
    background: rgb(122 163 99)
}

.sidebar {
    background-color: #3f7d3a;
    min-height: 700px;
}

a:hover {
    color: #23ff00 !important;
}

.overflow {
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

tr td button {
    margin-left: 5px;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background */
    backdrop-filter: blur(5px);
    /* Add blur effect */
    z-index: 9999;
    /* Ensure the overlay is on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-success {
    display: block;
    background-color: rgba(0, 0, 0, .5);
}

@media (min-width: 100px) {
    /* .sidebar {
        display: none;
    }

    .mobile-sidebar {
        display: block;
    }

    .dashboard {
        margin-left: 50px;
    } */
}

/* @media (min-width: 576px) {} */

@media (min-width: 768px) {
    .sidebar {
        display: block;
    }

    .mobile-sidebar {
        display: none;
    }

    .dashboard {
        margin-left: 0px;
    }
}